<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GemGifts | Data</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<style>
    @import url('https://fonts.googleapis.com/css?family=Lexend:100,300,400,500,600,700,800&amp;display=swap');

    :root {
        --background: #ffffff;
        --primary: #107ab0;
        --secondary: #c0c0c0;
        --light: #f7eeee;
        --dark: #000000;
    }

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Lexend', sans-serif;
    }

    body {
        background: var(--light);
        color: var(--dark);
    }
</style>

<body>
    <p>
        <a href="home">Click here to be redirected to the home page.</a>
    </p>
</body>

</html>