<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GemGifts | Home</title>
    <link rel="stylesheet" href="Styles/style.css" type="text/css">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" type="text/css">
</head>

<body>
    <header>
        <a class="logo" href="/">Gem<span>Gifts</span></a>
        <nav>
            <ul>
                <li>
                    <a href="#">Why us?</a>
                </li>
                <li>
                    <a href="#">Discord!</a>
                </li>
            </ul>
        </nav>
        <a class="cta" href="/login">Try it now!</a>
        <a class="cta menu" href="/login">Try it now!</a>
    </header>
    <main>
        <section class="home" id="home">
            <div class="content">
                <h3>GemGifts</h3>
                <p>Complete easy tasks by downloading apps and concluding surveys and redeeming awesome in-game
                    currencies, gift cards, and much more!</p>
                <a href="/login">Try it now!</a>
            </div>
        </section>
        <section class="info" id="info">
            <div class="content">
                <div class="box">
                    <i class="bx bxl-discord-alt bx-fade-right"></i>
                    <h2>Sign in with Discord!</h2>
                    <p>To sign into GemGifts, you can sign in with your Discord account. Most people have Discord so no
                        fuss needs to happen to create a new account!</p>
                </div>
                <div class="box">
                    <i class="bx bx-gift bx-tada"></i>
                    <h2>Offer pages!</h2>
                    <p>We plan to add at least 3 offer pages to GemGifts so you can have a flexible option of choosing
                        your tasks and earn more coins!</p>
                </div>
                <div class="box">
                    <i class="bx bx-customize bx-fade-left"></i>
                    <h2>Custom requests!</h2>
                    <p>If you want to redeem a prize but one that is not on the list, you can join our Discord server
                        and request for your custom prize!</p>
                </div>
            </div>
        </section>
    </main>
    <article>
        <section class="join" id="join">
            <div class="content">
                <h3>We are launching soon!</h3>
                <p>We are expecting to launch in around 2 weeks time! You can still login into the dashboard but you
                    will not be able to comeplete any tasks yet. Join our Discord server to be the first to know when
                    ready!
                </p>
                <a href="/login">Sign in with Discird!</a>
            </div>
        </section>
    </article>
</body>
</body>

</html>